@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-background text-slate-900 transition-colors duration-300 ease-in-out;
  }

  h1 {
    @apply text-4xl font-bold my-2;
  }

  h2 {
    @apply text-3xl font-semibold my-2;
  }

  h3 {
    @apply text-2xl font-semibold my-2;
  }

  h4 {
    @apply text-xl font-semibold my-2;
  }

  h5 {
    @apply text-lg font-semibold my-2;
  }

  h6 {
    @apply text-base font-semibold my-2;
  }

  p {
    @apply text-base my-2;
  }

  a {
    @apply text-primary-700 underline;
  }

  select,
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  input[type="search"],
  input[type="date"],
  input[type="datetime-local"],
  textarea {
    @apply border border-gray-300
      rounded-lg px-3 py-2 text-base focus:outline-none
      focus:ring-2 focus:ring-primary-400 focus:border-transparent bg-white dark:bg-gray-800;
  }

  select {
    @apply cursor-pointer;
  }

  select:focus > option:hover {
    @apply bg-primary-800 text-white;

    &:hover {
      @apply bg-primary-700;
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    @apply accent-primary-800 rounded-sm h-6 w-6 mr-2 cursor-pointer;
  }

  input[type="range"] {
    @apply accent-primary-800 bg-white rounded-sm
     h-1 cursor-pointer;
  }

  button {
    @apply 
      text-white rounded-lg px-3 py-2 text-base focus:outline-none
      focus:ring-2 focus:border-transparent
     transition-colors duration-300 ease-in-out;

    &.primary {
      @apply bg-primary-500 focus:ring-primary-400 hover:from-primary-500 hover:to-primary-400;
    }

    &.secondary {
      @apply bg-transparent text-primary-500 border border-primary-500 focus:ring-primary-400;
    }

    &.tiny {
      @apply px-2 py-1;
    }

    &.tertiary {
      @apply from-blue-600 to-blue-700 focus:ring-blue-600 hover:from-blue-700 hover:to-blue-800;
    }

    &.danger {
      @apply from-red-600 to-red-700 focus:ring-red-600 hover:from-red-700 hover:to-red-800;
    }

    &.success {
      @apply from-green-500 to-green-600 focus:ring-green-500 hover:from-green-600 hover:to-green-700;
    }

    &.warning {
      @apply from-yellow-500 to-yellow-600 focus:ring-yellow-500 hover:from-yellow-600 hover:to-yellow-700;
    }
  }

  .message {
    // white background, rounded corners, and a drop shadow
    @apply bg-white rounded-md shadow-md;
  }

  .messages-shadow {
    z-index: 9999;
    position: fixed;
    top: 10vh;
    right: 0;
    left: 0;
    bottom: 14vh;
    box-shadow: inset 0 0 20px 20px rgb(244 246 251);
    pointer-events: none;
  }

  header {
    @apply bg-primary-500 text-white p-3 shadow-lg z-[999999];
  }
}
